<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="../static/css/coffee.css">
</head>
<body>
<div id="content">
    <h1 id="header" style="text-align: center">Coffee!</h1>

    <form>
        <label for="roast-selection"></label>
        <select id="roast-selection">
            <option>light</option>
            <option>medium</option>
            <option>dark</option>
        </select>
        <input id="submit" type="submit" value="Filter"/>
    </form>

    <hr>

    <div id="search-box">
        <label for="search">Search Coffees</label>
        <input type="text" id="search" onkeyup="searchCoffee()">
    </div>

    <div id="coffees"></div>

    <div id="new-coffee-form">
        <h2 style="text-align: center">Create Your Own Coffee</h2>
        <label for="roastType">Select Roast Type</label>
        <select name="roastType" id="roastType">
            <option value="Light">Light</option>
            <option value="Medium">Medium</option>
            <option value="Dark">Dark</option>
        </select>

        <div style="margin-top: 1em;">
            <label for="newRoast">Enter a name for New Roast</label>
            <input type="text" id="newRoast">
            <button id="newRoast-btn">Submit</button>
        </div>
    </div>
</div>

<script src="../static/js/coffee.js"></script>
</body>
</html>