<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>JavaScript Object Exercise</title>
</head>
<body>
<script>
    (function() {
        "use strict";

        /**
         * TODO:
         * Create an object with firstName and lastName properties that are strings
         * with your first and last name. Store this object in a variable named
         * `person`.
         */
        let person = {
            firstName: "Michael",
            lastName: "Troia"
        };

        /**
         * TODO:
         * Add a sayHello method to the person object that returns a greeting using
         * the firstName and lastName properties.
         * console.log the returned message to check your work
         */
        person.sayHello = function sayHello() {
            return "Hi, I'm " + this.firstName + " " + this.lastName + ".";
        }

        console.log(person.sayHello());

        /** TODO:
         * HEB has an offer for the shoppers that buy products amounting to
         * more than $200.
         * If a shopper spends more than $200, they get a 12% discount.
         * Write a JS program, using conditionals, that logs to the
         * browser, how much Ryan, Cameron and George need to pay.
         * Cameron bought $180, Ryan $250 and George $320.
         * display a line with the name of the person,
         * the amount before the discount,
         * the discount, if any,
         * and the amount after the discount.
         */

        let shoppers = [
            {name: 'Cameron', amount: 180},
            {name: 'Ryan', amount: 250},
            {name: 'George', amount: 320}
        ];

        shoppers.forEach(e => {
            if (e.amount > 200) {
                console.log(e.name + " pays before the discount $" + e.amount +
                    " but with a $" + (e.amount * 0.12) + " discount, only pays " + (e.amount - (e.amount * 0.12)) + ".")
            } else {
                console.log(e.name + " will pay " + e.amount)
            }
        })


        /** TODO:
         * Create an array of objects that represent books and store it in a
         * variable named `books`. Each object should have a title and an author
         * property. The author property should be an object with properties
         * `firstName` and `lastName`. Be creative and add at least 5 books to the
         * array
         */

        let books = [
            {
                title: "The Great Read",
                author: {
                    firstName: "Hank",
                    lastName: "Hankerino"
                }
            },
            {
                title: "The Awful Read",
                author: {
                    firstName: "Suave",
                    lastName: "Manchin"
                }
            },
            {
                title: "Good Times and Bad Book Titles",
                author: {
                    firstName: "Melanie",
                    lastName: "Motzarella"
                }
            },
            {
                title: "What is a Limp Biscuit?",
                author: {
                    firstName: "Theodore",
                    lastName: "Roosevelvet"
                }
            },
            {
                title: "Theories of Trans-dimensional Aliens",
                author: {
                    firstName: "Martha",
                    lastName: "Stewart"
                }
            }
        ];

        /**
         * TODO:
         * Loop through the books array and output the following information about
         * each book:
         * - the book number (use the index of the book in the array)
         * - the book title
         * - author's full name (first name + last name)
         */

        for (let i = 0; i < books.length; i++){
            console.log(
                'Book #' + (i + 1) + '\n' +
                books[i].title + '\n' +
                'By: ' + books[i].author.firstName + ' ' + books[i].author.lastName
            )
        }

        /**
         * Bonus:
         * - Create a function named `createBook` that accepts a title and author
         *   name and returns a book object with the properties described
         *   previously. Refactor your code that creates the books array to instead
         *   use your function.
         * - Create a function named `showBookInfo` that accepts a book object and
         *   outputs the information described above. Refactor your loop to use your
         *   `showBookInfo` function.
         */
        function createBook(title, firstName, lastName) {
            return {
                title: title,
                author: {
                    firstName: firstName,
                    lastName: lastName
                }
            }
        }

        let newBooks = [
            createBook("The Lame Divide", "Henry", "8th"),
            createBook("Shocking, Isn't It?", "Static", "Shock"),
            createBook("If I Ruled the Whirl", "A", "Tornado"),
            createBook("Grandma Was Right", "Mrs.", "Hawthorne"),
            createBook("Drop It Like It's Rather Uncomfortable To Hold", "Investigate", "Canine")
        ]

        function showBookInfo(book){
            console.log(
                book.title + '\n' +
                'By: ' + book.author.firstName + ' ' + book.author.lastName
            )
        }

        newBooks.forEach(e => {
            showBookInfo(e)
        })

    })();
</script>

</body>
</html>