<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome</title>
    <link rel="stylesheet" href="../static/css/welcome.css">
</head>
<body>
<div class="bowling">
    <!--This exercise is to refresh on basic HTML elements and how they work-->
    <h2 id="top">Welcome to Veridian Dynamics</h2>
    <p>At Veridian Dynamics, <strong>we</strong> solve <em>your</em> problems with <em><strong>technology</strong></em></p>
    <hr>
    <h3>Core Values</h3>
    <ul>
        <li>Competence</li>
        <li>Involvement</li>
        <li>Technology</li>
    </ul>
    <h3>Our Process</h3>
    <ul>
        <li>1. Plan</li>
        <li>2. Evaluate</li>
        <li>3. Implement</li>
    </ul>
    <ul>
        <li>Becoome #1 in Technology</li>
        <li>Increase Success by 20%</li>
        <li>Increase Business by 30%</li>
    </ul>
    <hr>
    <h3>Company Vision</h3>
    <table>
        <tr>
            <img style="width: 45%; margin: 5px;" src="https://images.pexels.com/photos/4577736/pexels-photo-4577736.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            <img style="width: 45%; margin: 5px;" src="https://images.pexels.com/photos/4577736/pexels-photo-4577736.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        </tr>
        <tr>
            <img style="width: 45%; margin: 5px;" src="https://images.pexels.com/photos/4577736/pexels-photo-4577736.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
            <img style="width: 45%; margin: 5px;" src="https://images.pexels.com/photos/4577736/pexels-photo-4577736.jpeg?auto=compress&cs=tinysrgb&dpr=1&w=500" alt="">
        </tr>
    </table>
    <h3>Our Product</h3>
    <table>
        <tr>
            <th>Plan</th>
            <th>Price</th>
            <th>Features</th>
        </tr>
        <tr>
            <td>Starter</td>
            <td>$99</td>
            <td>Base Technology</td>
        </tr>
        <tr>
            <td>Advanced</td>
            <td>$199</td>
            <td>Additional Features</td>
        </tr>
        <tr>
            <td>Premium</td>
            <td>$499</td>
            <td>Unlimited Support</td>
        </tr>
    </table>
    <p><em>All products come with our quality guarantee.</em></p>
    <a href="#top"><strong>Go to the top of the page.</strong></a>
</div>
</body>
</html>